<html>
<head>
    {% include 'water.html' %}
    <title>Recipe App - Confirm Deletion</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Confirm Deletion</h1>
    <h2>Are you sure you want to delete "{{ recipe.title }}"?</h2>

    <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST">
        <button type="submit" class="btn btn-danger">Yes, delete this recipe</button>
        <a href="{{ url_for('view_single_recipe', integer=recipe.id) }}" class="btn btn-secondary">No, cancel</a>
    </form>
{% include 'chat_widget.html' %}
</body>
</html>

