<!DOCTYPE html>
<html>
<head>
    {% include 'water.html' %}
    <title>Recipe App - Main Page</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Recipe Maker</h1>
    <h2>What do you want to cook today?</h2>
    
    <!-- Search Form -->
    
    <h3></h3>
    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search recipes..." required>
        <button type="submit">Search</button>
    </form>
    <h3>Stuck for ideas? Check out what's available!</h3>
    <form action="/recipes" method="POST">
        <button type="submit">View All Recipes</button>
    </form>
    <style>
      .search-bar {
        width: 100%;
        padding: 8px;
        font-size: 16px;
      }
    </style>
{% include 'chat_widget.html' %}
</body>
</html>

