<!DOCTYPE html>
<html lang="en">
{% include 'water.html' %}
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>User Profile</h1>

    <form action="/edit_profile" method="POST">
      <button type="submit">Edit Profile</button>
    </form>

    <ul>
        <li><strong>ID:</strong> {{ user_data.id }}</li>
        <li><strong>Email:</strong> {{ user_data.email }}</li>
        <li><strong>Username:</strong> {{ user_data.username }}</li>
    </ul>
    <h2>Your Recipes</h2>
    <ul>
        {% for recipe in user_data.recipes %}
            <li><a href="/recipe/{{recipe.id}}">{{ recipe.title or 'Untitled Recipe' }}</a></li>
        {% else %}
            <li>No recipes found.</li>
        {% endfor %}
    </ul>


    <h2>Favorite Recipes</h2>
    <ul>
        {% for recipe in user_data.favorite_recipes %}
            <li><a href="/recipe/{{recipe.id}}">{{ recipe.title or 'Untitled Recipe' }}</a></li>
        {% else %}
            <li>No recipes found.</li>
        {% endfor %}
    </ul>

    <h2>Comments</h2>
    <ul>
        {% for comment in user_data.comments %}
            <li><a href="/recipe/{{comment.recipe_id}}">{{ comment.content }}</a></li>
        {% else %}
            <li>No comments found.</li>
        {% endfor %}
    </ul>
    {% include 'chat_widget.html' %}
</body>
</html>

